/* place your css style definitions here 
 Here is a link to a great reference for learning and 
 experimenting with css:
https://www.w3schools.com/css/default.asp
*/
button {
    display: block;
    height: 45px;
    width: 90px;
    margin: 10px;
}

.hor-stack {
    display: inline-block;
}

.inline-flex-parent {
    display: flex;
    justify-content: center;
}

.chooser {
    height: 21px;
    width: 90px;
}